<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yhzn.dao.finance.SalesDetailsDao" >
  <resultMap id="BaseResultMap" type="com.yhzn.model.finance.SalesDetails" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ACCEPT_ID" property="acceptId" jdbcType="VARCHAR" />
    <result column="MONEY" property="money" jdbcType="DECIMAL" />
    <result column="ACCEPT_MONEY" property="acceptMoney" jdbcType="DECIMAL" />
    <result column="CREATE_NAME" property="createName" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
    <result column="MODIFY_NAME" property="modifyName" jdbcType="VARCHAR" />
    <result column="MODIFY_DATE" property="modifyDate" jdbcType="DATE" />
    <result column="DELETE_FLAG" property="deleteFlag" jdbcType="DECIMAL" />
    <result column="REV1" property="rev1" jdbcType="VARCHAR" />
    <result column="REV2" property="rev2" jdbcType="VARCHAR" />
    <result column="REV3" property="rev3" jdbcType="VARCHAR" />
    <result column="ACCEPT_DATE" property="acceptDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ACCEPT_ID, MONEY, ACCEPT_MONEY, CREATE_NAME, CREATE_DATE, MODIFY_NAME, MODIFY_DATE, 
    DELETE_FLAG, REV1, REV2, REV3, ACCEPT_DATE
  </sql>
  <!-- <select id="querySalesDetailsList" parameterType="map">
  	resultType="com.yhzn.model.finance.SalesDetails">
		select
		<include refid="Base_Column_List" />,
		(select f.SUPPLIER_NAME from FINANCE_PURCHASE_CONTRACT f where f.ID = SUPPLIER_ID) supplierName
		from FINANCE_PURCHASE_DETAIL
		where
		1 = 1
		and DELETE_FLAG='0'
		<if test="name != null and name != ''">
			and CONTRACTNO like '%${contractNo}%'
		</if>
		<if test="dept != null and dept != ''">
			and CONTRACTNAME like '%${ContractName}%'
		</if>
		<if test="beginDate != null and beginDate != ''">
			and ENTRY_DATE<![CDATA[>=]]>to_date(#{beginDate},'yyyy-mm-dd
			hh24:mi:ss')
		</if>
		<if test="endDate != null and endDate != ''">
			and ENTRY_DATE <![CDATA[<]]>to_date(#{endDate},'yyyy-mm-dd
			hh24:mi:ss')
		</if>
		order by CREATE_DATE desc
  </select> -->
  <select id="selSalesDetailsById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from FINANCE_PURCHASE_DETAIL
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="delSalesDetailsById" parameterType="java.lang.String" >
    delete from FINANCE_PURCHASE_DETAIL
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yhzn.model.finance.SalesDetails" >
    insert into FINANCE_PURCHASE_DETAIL (ID, ACCEPT_ID, MONEY, 
      ACCEPT_MONEY, CREATE_NAME, CREATE_DATE, 
      MODIFY_NAME, MODIFY_DATE, DELETE_FLAG, 
      REV1, REV2, REV3, ACCEPT_DATE
      )
    values (#{id,jdbcType=VARCHAR}, #{payId,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, 
      #{payMoney,jdbcType=DECIMAL}, #{createName,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, 
      #{modifyName,jdbcType=VARCHAR}, #{modifyDate,jdbcType=DATE}, #{deleteFlag,jdbcType=DECIMAL}, 
      #{rev1,jdbcType=VARCHAR}, #{rev2,jdbcType=VARCHAR}, #{rev3,jdbcType=VARCHAR}, #{payDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insSalesDetails" parameterType="com.yhzn.model.finance.SalesDetails" >
    insert into FINANCE_PURCHASE_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="payId != null" >
        ACCEPT_ID,
      </if>
      <if test="money != null" >
        MONEY,
      </if>
      <if test="payMoney != null" >
        ACCEPT_MONEY,
      </if>
      <if test="createName != null" >
        CREATE_NAME,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="modifyName != null" >
        MODIFY_NAME,
      </if>
      <if test="modifyDate != null" >
        MODIFY_DATE,
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG,
      </if>
      <if test="rev1 != null" >
        REV1,
      </if>
      <if test="rev2 != null" >
        REV2,
      </if>
      <if test="rev3 != null" >
        REV3,
      </if>
      <if test="payDate != null" >
        ACCEPT_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="payId != null" >
        #{payId,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="payMoney != null" >
        #{payMoney,jdbcType=DECIMAL},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="modifyName != null" >
        #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=DATE},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=DECIMAL},
      </if>
      <if test="rev1 != null" >
        #{rev1,jdbcType=VARCHAR},
      </if>
      <if test="rev2 != null" >
        #{rev2,jdbcType=VARCHAR},
      </if>
      <if test="rev3 != null" >
        #{rev3,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null" >
        #{payDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateSalesDetails" parameterType="com.yhzn.model.finance.SalesDetails" >
    update FINANCE_PURCHASE_DETAIL
    <set >
      <if test="payId != null" >
        ACCEPT_ID = #{payId,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        MONEY = #{money,jdbcType=DECIMAL},
      </if>
      <if test="payMoney != null" >
        ACCEPT_MONEY = #{payMoney,jdbcType=DECIMAL},
      </if>
      <if test="createName != null" >
        CREATE_NAME = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=DATE},
      </if>
      <if test="modifyName != null" >
        MODIFY_NAME = #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        MODIFY_DATE = #{modifyDate,jdbcType=DATE},
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG = #{deleteFlag,jdbcType=DECIMAL},
      </if>
      <if test="rev1 != null" >
        REV1 = #{rev1,jdbcType=VARCHAR},
      </if>
      <if test="rev2 != null" >
        REV2 = #{rev2,jdbcType=VARCHAR},
      </if>
      <if test="rev3 != null" >
        REV3 = #{rev3,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null" >
        ACCEPT_DATE = #{payDate,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yhzn.model.finance.SalesDetails" >
    update FINANCE_PURCHASE_DETAIL
    set ACCEPT_ID = #{payId,jdbcType=VARCHAR},
      MONEY = #{money,jdbcType=DECIMAL},
      ACCEPT_MONEY = #{payMoney,jdbcType=DECIMAL},
      CREATE_NAME = #{createName,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=DATE},
      MODIFY_NAME = #{modifyName,jdbcType=VARCHAR},
      MODIFY_DATE = #{modifyDate,jdbcType=DATE},
      DELETE_FLAG = #{deleteFlag,jdbcType=DECIMAL},
      REV1 = #{rev1,jdbcType=VARCHAR},
      REV2 = #{rev2,jdbcType=VARCHAR},
      REV3 = #{rev3,jdbcType=VARCHAR},
      ACCEPT_DATE = #{payDate,jdbcType=DATE}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>